.searchBar{
    width: 50%;
    border: 1px grey solid;
	padding: 10px;
	border-radius: 25px; /* Determines how round the corners of our box are */
	margin-left: 25%;
	
}

.container {
display: flex;
}

.container-header {
display: flex;
}

.dataReturn{
	position: absolute;
	top: 200px;
	left: 40px;
}